

.wadah{
  position: absolute;
  top: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.kotak-pilih-satuan{
  width: 30%!important;
}

.wadah .row{
  width: 100%;
  margin: 0;
  padding: 0;
}
.wadah .row .col{
  width: 100%;
}
.btnTerpilih{
  background: #17A2B8!important;
  border-color: #17A2B8!important;
  color: #fff!important;
}
.btn-kirim{
  background: #673AB7;
  color: #fff;
}
.btn-pilih{
  background: #FF0000;
  color: #fff;
}
button{
  text-transform: uppercase;
}
.modal-body .row .col-12 span{
  font-weight: 400;
  font-style: italic;
}
.visi-misi span > *{
  margin-bottom: 3px;
  margin-left: 8px;
}
.visi-misi h5{
  margin-left: 0;
}

@media (max-width : 750px){
  .wadah{
    top: 150px;
  }
 
   .kotak-pilih .col-12 .kotak-pilih-satuan{
    width: 80%!important;
    margin-bottom: 10px;
  }
  .kotak-pilih .col-12{
    flex-direction: column;
    align-items: center;
  }
  #info-nama-peserta{
    display: block!important;
    width: 100%!important;
    margin-top: -8px!important;
  }
}